[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "externals/websocketpp"]
	path = externals/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json
[submodule "externals/liburing"]
	path = externals/liburing
	url = https://github.com/axboe/liburing.git
